.nav {
  grid-area: n;
  background-color: whitesmoke;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.44);
  
}
.nav a {
  text-decoration: none;
  
}
.item {
  font-size: 25px;
  margin-left: 10px;
  color: grey;
}
.active {
  color: black;
  margin-left: 10px;
}