.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr; 
  grid-gap: 10px;
}
.dialogsItems {
  padding: 10px;
}
.dialogsItems .active {
  color: brown;
  cursor: pointer;
}
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  margin: 5px;
  font-size: 20px;
  border-radius: 10%;
  
}
.messages {
  padding: 10px;
}
.message {

}